/* Fonts */
//@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variables */
//$border-radii: 6px;

div.mural {
  margin: 30px auto;
  
  h1 {
    margin: 30px auto;
    font-size: 30px;
    font-weight: 700;
    color: #1A1A1A;
    text-align: center;
  }

  p.descricao, p.lista_vazia {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    margin: 30px auto;
    color: #333333;
  }
}