<div class="container mural">
  <h1>Seu Mural</h1>
  <p class="descricao">Aqui você pode abrir as imagens que você selecionou ou removê-las de sua lista.</p>
  <div class="share">
    <button class="btn btn-light" (click)="getmural('710b962e')">Teste de GET. id=710b962e</button>
    
    <div *ngIf="(share_link.flag == false) && (lista.length > 0)">
      <button class="btn btn-light" (click)="postmural()">Compartilhar mural</button>
    </div>

    <div *ngIf="(share_link.flag == true)">
        <input class="link" type="text" value="muralapp.me/share/{{ share_link.id }}" readonly>
    </div>

  </div>
</div>

<div *ngIf="lista.length > 0 then listaPreench else listaVazia"></div>

<ng-template #listaPreench>
  
  <!-- grid do mural -->
  <grid-images [image_list]="lista" [isMural]="true"></grid-images>  
    
</ng-template>
    
<ng-template #listaVazia>
    <div class="container-fluid grid-lista">
    <div class="row lista-vazia">
      <div class="col-12">
        <h2>Seu mural está vazio. realize uma pesquisa para adicionar imagens à sua coleção.</h2>
      </div>
    </div>
  </div>
</ng-template>
