<div class="container main">
  <h1>Pesquisar imagens</h1>
  <form [formGroup]="formsearch" class="input-group" (ngSubmit)="search()">
    <input formControlName="query" type="text" placeholder="Ex: office">
    <div class="input-group-append">
      <div class="input-group-text" (click)="search()">buscar</div>
    </div>
  </form>
</div>

<!-- grid do search -->
<div *ngIf="search_list.length > 0 then listaPreench else listaVazia"></div>
<ng-template #listaVazia>
  <div class="container-fluid grid-lista">
    <p class="descricao">Faça uma pesquisa com o termo desejado em inglês para gerar seu mural de imagens inicial.</p>
  </div>
</ng-template>
<ng-template #listaPreench>
    <!-- grid do search -->
    <grid-images [image_list]="search_list" [isMural]="false"></grid-images>    
</ng-template>