<nav class="navbar navbar-expand-lg">
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Pesquisar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mural" routerLink="/mural" routerLinkActive="active">Seu Mural ({{ lista.size }})</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>