<div class="container-fluid grid-lista">
  <div class="row">
    
    <div class="imagem-mural-col col-6 col-sm-4 col-lg-3 col-xl-2" *ngFor="let image of image_list">
      <div class="imagem-mural-cell" [ngClass]="{'selected': image.in_mural === true}">
        <img [src]="image.src.tiny" alt="" class="imagem">
        <div class="opt-panel">
          
          <!-- botoes mudam de acordo com boolean image.in_mural -->
          <div *ngIf="image.in_mural == false then not_in_mural else in_mural"></div>
          
          <ng-template #not_in_mural>

            <!-- condicional para nao abrir nova janela se nao existir um link -->
            <div *ngIf="image.url !== '' then url_ok else url_not_ok"></div>
            <ng-template #url_ok>
              <a class="img-button right-border open" [href]="image.url" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </ng-template>
            <ng-template #url_not_ok>
              <!-- placeholders nao possuem link e o botão é decorativo -->
              <a class="img-button right-border open"><i class="fas fa-external-link-alt"></i></a>
            </ng-template>

            <a class="img-button add" (click)="add(image)"><i class="fas fa-plus-circle"></i></a>
          </ng-template>
          
          <ng-template #in_mural>
            <a class="img-button right-border open" [href]="image.url" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <a class="img-button remove" (click)="rmv(image)"><i class="fas fa-trash"></i></a>
          </ng-template>

        </div>
      </div>
    </div>
    
  </div>
</div>