<div class="container-fluid grid-lista">
  <div class="row">
    
    <div class="imagem-mural-col" *ngFor="let image of image_list">
      <div class="imagem-mural-cell">
        <img [src]="image.src.tiny" alt="" class="imagem">
        <div class="opt-panel">
          
          <!-- botoes mudam de acordo com boolean isMural -->
          <div *ngIf="isMural == false then homeGrid else muralGrid"></div>
          
          <ng-template #homeGrid>
            <a class="img-button" (click)="add(image)">Adicionar imagem ao mural</a>
          </ng-template>

          <ng-template #muralGrid>
            <a class="img-button right-border" [href]="image.url" target="_blank">Abrir imagem</a>
            <a class="img-button" (click)="rmv(image)">Remover do mural</a>
          </ng-template>

        </div>
      </div>
    </div>
    
  </div>
</div>