/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/* Colors */
$navcolor: #BCBCBC;

body {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.04);
}